@import url('https://fonts.googleapis.com/css?family=Six+Caps');
* {
    margin: 0;
}
header,
footer,
nav,
main,
aside,
figure,
figcaption {
    display: block;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/* Sticky footer */
html,
.page {
    height: 100%;
}
.page__wrapper {
    min-height: 100%;
    margin-bottom: -174px; /* equal to .page__footer height */
}
.page__wrapper:after {
    content: "";
    display: block;
}
.page__wrapper:after,
.page__footer {
    height: 174px; /* equal to .page__wrapper margin-bottom */
}
/* end Sticky footer */
.page {
    background-color: #0a0202;
    background: url(../img/page__background.jpg) top center no-repeat;
    background-size: cover;
}
.ie-bgackground {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    margin-top: -900px;
}
.ie-wrapper {
    position: relative\9;
}
.wrapper {
    max-width: 1054px;
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;
    background-color: #e3e3e3;
    box-shadow: 0 0 6px rgba(232, 232, 232, 0.75);
}
/*Header*/
.header {
    padding: 25px 57px 130px;
    box-sizing: border-box;
    position: relative;
}
.header__info {
    margin-bottom: 70px;
}
.account,
.contacts {
    display: inline-block;
    vertical-align: top;
}
.header__contacts {
    float: right;
    text-align: right;
}
.account__title,
.contacts__title {
    font: 400 10px/24px 'Times New Roman', serif;
    color: #7b6f6f;
    text-transform: uppercase;
}
.account__actions,
.account__link {
    font: 400 16px/24px 'Times New Roman', serif;
    color: #aaa1a1;
    text-transform: uppercase;
}
.account__link {
    text-decoration: underline;
    transition: color .3s;
}
.account__link:hover {
    color: #2f364b;
}
.contacts__link {
    display: inline-block;
    font: 400 27px/24px 'Times New Roman', serif;
    color: #2f364b;
    letter-spacing: -1px;
    text-decoration: none;
    margin-top: -2px;
}
.header__logo {
    position: absolute;
    left: 50%;
    margin-left: -138px;
    top: 83px;
}
.logo {
    width: 240px;
    font: 400 160px/1 'Six Caps', monospace;
    color: #2f364b;
    letter-spacing: -3px;
    text-transform: uppercase;
    text-align: center;
}
.logo__slogan {
    font: 400 10px/18px 'Times New Roman', serif;
    letter-spacing: normal;
    margin-top: -5px;
}
.main-menu__list {
    padding: 0;
    display: inline-block;
    vertical-align: top;
}
.main-menu__list_left {
    float: left;
}
.main-menu__list_right {
    float: right;
}
.main-menu__item {
    display: inline-block;
    vertical-align: top;
    margin: 0 17px;
}
.main-menu__item_first {
    margin-left: 0;
}
.main-menu__item_last {
    margin-right: 0;
}
.main-menu__item_dropdown {
    position: relative;
}
.main-menu__link {
    display: block;
    border-bottom: 2px solid transparent;
    font: 400 60px/1 'Six Caps', monospace;
    color: #969595;
    letter-spacing: -1px;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .3s;
}
.main-menu__link:hover {
    border-bottom: 2px solid #2f364b;
    color: #2f364b;
}
.main-menu__item_dropdown:hover .dropdown-menu {
    display: block;
}
.dropdown-menu {
    display: none;
    width: 116px;
    padding: 20px 15px;
    background-color: #fff;
    list-style: none;
    text-align: left;
    position: absolute;
    top: 100%;
    margin-top: 6px;
}
.dropdown-menu:before {
    content: "";
    display: block;
    width: 100%;
    height: 6px;
    background-color: transparent;
    position: absolute;
    top: -6px;
    left: 0;
}
.dropdown-menu__link {
    font: 400 12px/18px 'Times New Roman', serif;
    color: #969595;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: color .3s;
}
.dropdown-menu__link:hover {
    color: #2f364b;
}
@media all and (max-width: 1000px) {
    .header {
        padding-bottom: 35px;
    }
    .header__info {
        margin-bottom: 0;
    }
    .header__logo {
        position: static;
        margin: 0 auto 20px;
    }
    .main-menu,
    .main-menu__list {
        text-align: center;
    }
    .main-menu__list_left,
    .main-menu__list_right {
        float: none;
    }
    .main-menu__item {
        margin: 0 15px!important;
    }
    .dropdown-menu {
        display: none!important;
    }
}
@media all and (max-width: 460px) {
    .account,
    .contacts {
        display: block;
        text-align: center;
    }
    .header__contacts {
        float: none;
    }
}
/*end Header*/
/*Slider*/
.slider-block {
    padding: 0 57px 45px;
}
.slider {
    width: 100%;
    box-sizing: border-box;
    border: 20px solid #fff;
    position: relative;
}
.slider__image {
    width: 100%;
    height: auto;
}
.slider .slick-arrow {
    display: none!important;
}
.slider .slick-dots {
    display: block;
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center;
    position: absolute;
    bottom: -73px;
}
.slider .slick-dots li {
    display: inline-block;
    margin: 0 5px;
}
.slider .slick-dots button {
    width: 19px;
    height: 19px;
    background-color: #fff;
    border-radius: 50%;
    border: none;
    outline: none!important;
    color: transparent;
    color: #fff\9;
    cursor: pointer;
}
.slider .slick-active button {
    background-color: #2f364b;
    color: #2f364b\9;
}
/*end Slider*/
/*Advantages*/
.advantages {
    padding: 45px 57px 0;
    text-align: center;
}
.advantage {
    display: inline-block;
    width: 220px;
    vertical-align: top;
    text-align: center;
    margin: 0 6px;
}
.advantage__title {
    font: 400 60px/1 'Six Caps', monospace;
    color: #2f364b;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.advantage__text {
    height: 100px;
    padding: 0 15px;
    font: 400 15px/20px 'Times New Roman', serif;
    color: #909090;
    overflow: hidden;
    margin: 25px auto;
}
.advantage__button {
    display: block;
    width: 72px;
    height: 72px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.13);
    font: 400 10px/72px 'Times New Roman', serif;
    color: #2f364b;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s;
    margin: 0 auto 50px;
}
.advantage__button:hover {
    background-color: #2f364b;
    color: #fff;
}
/*end Advantages*/
/*Content*/
.content {
    background-color: #fff;
    padding: 90px 57px;
}
.main {
    width: 50%;
    box-sizing: border-box;
    padding-right: 30px;
    float: left;
}
.main-article__title,
.events__title {
    font: 400 60px/1 'Six Caps', monospace;
    color: #343434;
    text-transform: uppercase;
    margin-bottom: 44px;
}
.main-article__image {
    margin-bottom: 30px;
}
.main-article__subtitle,
.event__title {
    font: 400 20px/1 'Times New Roman', serif;
    color: #2f364b;
}
.main-article__text,
.event__text {
    font: 400 15px/1.3 'Times New Roman', serif;
    color: #9c9c9c;
    margin-bottom: 15px;
}
.main-article__link {
    color: #2f364b;
    text-decoration: underline;
}
.events {
    width: 50%;
    float: right;
}
.events__link {
    text-decoration: none;
}
.events__article {
    margin-bottom: 12px;
}
.event__image {
    float: left;
    margin-right: 17px;
    border: none;
}
.event__info {
    height: 118px;
    box-sizing: border-box;
    padding-top: 5px;
    overflow: hidden;
}
.events__button {
    display: inline-block;
    font: 400 10px/20px 'Times New Roman', serif;
    color: #2f364b;
    text-transform: uppercase;
    text-decoration: underline;
    margin-top: 22px;
    margin-left: 1px;
}
@media all and (max-width: 1000px) {
    .main {
        width: 100%;
        padding-right: 0;
        float: none;
        margin-bottom: 90px;
    }
    .main-article__title {
        text-align: center;
    }
    .main-article__image {
        display: block;
        margin: 0 auto 30px;
    }
    .events {
        width: 100%;
        float: none;
    }
    .events__title {
        text-align: center;
    }
}
@media all and (max-width: 560px) {
    .main-article__image {
        width: 100%;
        height: auto;
    }
    .events {
        text-align: center;
    }
    .events__article {
        width: 220px;
        margin: 0 auto 30px;
    }
    .event__info {
        height: 130px
    }
    .event__image {
        display: block;
        margin: 0 auto 10px;
        float: none;
    }
    .event__title {
        margin-bottom: 12px;
    }
    .events__button {
        margin-top: 0;
    }
}
/*end Content*/
/*Footer*/
.footer {
    box-sizing: border-box;
    padding: 30px 57px 0;
}
.footer__text,
.footer__link {
    font: 400 15px/20px 'Times New Roman', serif;
    color: #909090;
    text-decoration: none;
    transition: color .3s;
}
.footer__text_left {
    float: left;
}
.footer__text_right {
    float: right;
}
.footer__link:hover {
    color: #2f364b;
}
@media all and (max-width: 600px) {
    .footer {
        text-align: center;
    }
    .footer__text {
        float: none!important;
    }
}
/*end Footer*/
@media all and (max-width: 600px) {
    .header,
    .advantages,
    .content,
    .footer {
        padding-left: 20px;
        padding-right: 20px;
    }
    .slider-block {
        padding-left: 0;
        padding-right: 0;
    }
}
